
*{
	box-sizing: border-box;
	max-width: 1350px;
}
		#navbar{
			
			padding: 10px;
		}
		#topimage{
			width: 1335px;
			
		}
		#kujaribu{
			position: relative;
		}
		#kujaribu > h1 {
			position: absolute;
			color: black;
			top: 220px;
			font-size: 40px;
			font-weight: bolder;
			left: 20px;
		}
		#kujaribu > p {
			position: absolute;
			color: rgb(134, 130, 130);
			font-style: italic;
			top: 300px;
			font-size: 20px;
			left: 70px;
			font-weight: 900;
		}
		@keyframes myArrow {
			from {
				top: 450px;
			}
			to {
				top: 525px;
			}
		}
		#arrow {
			position: absolute;
			width: 80px;
			top: 450px;
			left: 270px;
		}
		#arrow {
			animation-name: myArrow;
			animation-duration: 3s;
			animation-iteration-count: infinite;
		}
		#plink{
			position: absolute;
			cursor: pointer;
			border-radius: 25px !important;
			top: 620px !important;
			left: 150px !important;
			color: red !important;
			font-size: 30px !important;
		}
		#plink:hover{
			border: 3px solid grey;
			padding: 10px;
			font-size: 40px;
		}
		li {
			list-style-type: none;
			margin: 10px;
		}
		a {
			text-decoration: none;
			color: black;
			font-weight: 900;
			border-radius: 25px;
			padding: 10px;
			font-size: 20px;
			font-style: italic;
			
			
		}
		a:hover {
			color: plum;
		}
		a:visited {
			text-decoration: none;
			color: sienna;
		}
		#shortsummary{
			background-color: rgb(204, 204, 204);
			background-repeat: no-repeat;
			background-size: cover;
			
			padding: 10px;
			line-height: 1.5cm;
		}
		#shortsummary > h2 {
			text-align:center;
			font-style: italic;
			font-weight: bolder;
			font-size: 30px;
		}
		#shortsummary > p {
			font-size: 20px;
		
		}
		#reviews {
			background-color: rgb(165, 163, 163);
			padding: 10px;
			
		}
		#reviews2{
			display: flex;
		}
		#reviews > h2 {
			font-size: 30px;
			font-style: italic;
			font-weight: bolder;
			text-align: center;
		}
		#client1{
			border: 3px solid navy;
			padding: 10px;
			margin-bottom: 10px;
			margin-right: 50px;
			margin-left: 10px;
			border-radius: 28px;
			width: 300px;
		}
		.spano {
			font-style: italic;
			font-weight: bolder;
		}
		#client2{
			border: 3px solid navy;
			padding: 10px;
			margin-bottom: 10px;
			margin-right: 10px;
			margin-left: 80px;
			border-radius: 28px;
			width: 300px;
		}
		#client3{
			border: 3px solid navy;
			padding: 10px;
			margin-bottom: 10px;
			
			margin-left: 100px;
			border-radius: 28px;
			width: 300px;
		}
		.profilepic{
			width: 80px;
			border-radius: 50%;
			margin-left: 90px;
		}
		footer{
			background-color: grey;
			padding: 10px;
		}
		footer > h2 {
			font-size: 30px;
			font-weight: bolder;
			font-style: italic;
		}
		#lists{
			display: flex;
			float: right;
			
		}
		#contactflex{
			display: flex;
			
			
		}
		#flexo1{
			margin-right: 100px;
			
		}
		#flexo2{
			margin-bottom: 20px;
		}
		#menuicon{
			width: 45px;
			cursor: pointer !important;
			
		}
